<style>
	html{
		font-size:10px;
		background-color: black;
		
	}
	body{
        color: black;
 		max-width: 1024px;
 		padding: 20px;
 		margin: auto;
	}
	strong{
		font-weight: bold
		font-size: 1.5rem;
	}
	.eventName{
		text-align: center;
	}

</style>