<style>
	html{
		font-size:10px;
		background-color: black;
		
	}
	body{
        color: black;
 		max-width: 1024px;
 		padding: 20px;
 		margin: auto;
	}
	strong{
		font-weight: bold
		font-size: 1.5rem;
		color: red
	}
	.eventName{
		font-weight: bold
		font-size: 10rem;
		font-family: Helvetica;
		text-align: center;
	}

</style>
